/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


#answers .blink h2{
  -webkit-animation: blinker 900ms normal 5;
  -moz-animation: blinker 900ms normal 5;
  -o-animation: blinker 900ms normal 5;
  animation: blinker 900ms normal 5;
}

@keyframes blinker {
  0% {
      background: black;
  }
  49% {
      background: black;
  }
  50% {
      background: -webkit-gradient(linear, top, bottom, color-stop(0, #9F6C32), color-stop(0.32, #d49f09), color-stop(0.69, #d49f09)) no-repeat 0 -5px #d49f09;
      background: -o-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: -moz-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: -webkit-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: linear-gradient(to bottom, #9F6C32 0%,#d49f09 32%,#d49f09 69%) no-repeat 0 -5px #d49f09;
  }
  100% {
      background: -webkit-gradient(linear, top, bottom, color-stop(0, #9F6C32), color-stop(0.32, #d49f09), color-stop(0.69, #d49f09)) no-repeat 0 -5px #d49f09;
      background: -o-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: -moz-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: -webkit-linear-gradient(top, #9F6C32, #d49f09 32%, #d49f09 69%) no-repeat 0 -5px #d49f09;
      background: linear-gradient(to bottom, #9F6C32 0%,#d49f09 32%,#d49f09 69%) no-repeat 0 -5px #d49f09;
  }
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}

*{
      -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html{
    overflow: hidden;
}

body {
    /*font: 16px/26px Helvetica, Helvetica Neue, Arial;*/
    font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
    background-color: black;
    overflow:hidden;
}

#quiz-section{
    max-width: 768px;
margin: 0 auto;
}

#question{
	margin: 20px 0;
}

ul{
   padding:0;
   list-style: none;
}

ul li{
    margin-bottom: 20px;

}

.ready4fly{
  overflow: hidden;
height: 35px;
padding-top: 10px;
}


h1{
    font-size: 1.2em;
            color: white;
    font-weight: 300;

}

h2{
    font-size: 1.0em;
    color: #FF7200;
    font-weight: bold;
		cursor: pointer;
    /*white-space: nowrap;*/
}

h2 .option{
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
}

#answers .is-correct h2{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #0a8a20), color-stop(0.32, #0ee226), color-stop(0.69, #0ee226));
    background-image: -o-linear-gradient(top, #0a8a20, #0ee226 32%, #0ee226 69%);
    background-image: -moz-linear-gradient(top, #0a8a20, #0ee226 32%, #0ee226 69%);
    background-image: -webkit-linear-gradient(top, #0a8a20, #0ee226 32%, #0ee226 69%);
    background-image: linear-gradient(to bottom, #0a8a20  0%,#0ee226 32%,#0ee226 69%);
    background-position-y: -5px;
    background-repeat: no-repeat;
    background-color: #0ee226;
    /*color: black;*/
}

#answers .is-incorrect h2{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #921110), color-stop(0.32, #e6201f), color-stop(0.69, #e6201f));
    background-image: -o-linear-gradient(top, #921110, #e6201f 32%, #e6201f 69%);
    background-image: -moz-linear-gradient(top, #921110, #e6201f 32%, #e6201f 69%);
    background-image: -webkit-linear-gradient(top, #921110, #e6201f 32%, #e6201f 69%);
    background-image: linear-gradient(to bottom, #921110 0%,#e6201f 32%,#e6201f 69%);
    background-position-y: -5px;
    background-repeat: no-repeat;
    background-color: #e6201f;
/*    color: black;*/

}

#answers li.disabled{
    opacity: 0.15;
pointer-events: none;
filter: grayscale(100%);
}

.round-box{
    margin: 0 20px;
    background-color: black;
    padding-bottom: 3px;
    border-radius: 50px;
    border: 5px solid transparent;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.round-box::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: -o-linear-gradient(45deg, #7081ef, #8ef5f1 50%, #7081ef);
    background: -moz-linear-gradient(45deg, #7081ef, #8ef5f1 50%, #7081ef);
    background: -webkit-linear-gradient(45deg, #7081ef, #8ef5f1 50%, #7081ef);
    background: linear-gradient(45deg, #7081ef 0%, #8ef5f1 50%, #7081ef 100%);
    left: -10px;
    z-index: -1;
    border-radius: 50px;
    top: -10px;
    right: 0;
    bottom: 0;
    padding: 10px;
    line-height: 23px;
}

.round-box::after{
content: '';
    position: absolute;
    display: block;
    width: 200vw;
    height: 5px;
    top: 50%;
    left: -50vw;
    right: 50%;
    margin-top: -2.5px;
    z-index: -2;
	background: #7697EF;
}

h2.round-box{
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

ul li{
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    float: left;
}


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}